.home{
    height: 100vh;
    padding: 180px 0 0 0;
}

.info{
    width: 450px;
}
@media (max-width: 769px){
    .home{
        height: fit-content;
        padding: 120px 0 50px 0 !important;
    }
    .info{
        width: fit-content;
        height: 300px;
        overflow: scroll;
    }
    .name, .typeWriting{
        overflow: scroll;
    }
    .name{
        height: 46px;
    }
    .typeWriting{
        height: 60px;
    }
    /* @media only screen and (max-width: 140px) {
    } */
}