body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.des{
  overflow: scroll;
  height: 200px;
  width: 75%;
  
}
body::-webkit-scrollbar, .des::-webkit-scrollbar{
  display: none;
}
.App {
  /* text-align: center; */
  /* background-color: #282c34 !important; */
  background-color: #111 !important;
}
.sidebar-mobile, .sidebar-desktop {
  height: 100%;
  /* width: 0; */
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
}
.sidebar-desktop{
  width: 250px;
  overflow: hidden;
  /* border-right: 0.1px solid rgb(150, 149, 149); */
}
#main-desktop{
  /* padding: 10px; */
  margin-left: 250px;
}
/* .my-link a {
  padding: 8px 8px 8px 32px;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
} */
/* .my-link a:focus{
  border-bottom: 2px solid palevioletred !important;
} */
.nav-link a{
  font-size: 20px;
}
.nav-link a:hover
{
  /* background-color: rgb(124, 105, 105); */
  color: #ffe284 !important;
  text-decoration: underline palevioletred !important;
}

#name2{
  display: none;
}
.sidebar-mobile{
  display: none;
}
/* #topBar{
  /* border-bottom: 0.1px solid rgb(150, 149, 149);
} */
#main-mobile, #topBar {
  transition: margin-left 0.8s;
  /* padding: 10px; */
  display: none;
}
#contact-mobile{
  display: none !important;
}
/* #topBar{
  display: none;
  border-bottom: 2px solid wheat !important;
} */
/* .closebtn{
  display: none !important;
} */
.down{
  /* animation: float infinite ease-in-out; */
  width: 10px;
  margin:  0 auto;
  font-size: 30px;
  font-weight: bolder;
  animation: float 1s ease-in-out infinite !important;
}
#down{
  width: 30px;
  border: 1px solid #9A4DCE !important;
  color: #9A4DCE !important;
}

.card{
  cursor: pointer;
}
@keyframes float{
  0% { transform: translate(0,  0); }
  50%  { transform: translate(0, 15px); }
    /* 75%  { transform: translate(9px, 7px); } */
  100%   { transform: translate(0, -9px); } 
}
@media (max-width: 769px){
  #main-mobile{
    display: block;
    /* padding: 10px; */
    margin-left: 200px;
    /* margin-top: 160px; */
    margin-left: 0;
  }
  .sidebar-desktop, #main-desktop, #contact-desktop{
    display: none !important;
  }
  #contact-mobile{
    display: block !important;
  }
  .sidebar-mobile{
    width: 0;
    display: block;
  }
  #topBar{
    display: block;
    margin: 0 0;
    padding: 10px 0;
  }
  .nav-link a{
    font-size: 16px;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar-mobile {padding-top: 15px;}
  .sidebar-mobile a {font-size: 18px;}
}